<footer class="mt-3 py-3 bg-dark text-white text-center">
    All Rights Reserved. &copy; <span id="year"></span>
    . Codepro Solutions<sup style="font-size:20px;">&reg;</sup>
</footer>


<!--Bootstrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src='//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
    integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let yyyy = new Date().getFullYear();
    document.getElementById('year').innerHTML = yyyy;
</script>


<!-- Flatpickr JavaScript CDN  -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Chosen Selectbox Javascript CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
    integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

<script>
   $(function(){

	//DataTable 
	
	//user table datatable
	$('#user_table').DataTable({
            "aLengthMenu": [[-1, 10, 25, 50, 100], ['All', "10 Per Page", "25 Per Page", "50 Per Page", "100 Per Page"]]
        });

    //Complaints table datatable
	$('#complaints_table').DataTable({
            "aLengthMenu": [[-1, 10, 25, 50, 100], ['All', "10 Per Page", "25 Per Page", "50 Per Page", "100 Per Page"]]
        });

        //Flatpickr Date Picker
        $(".inputDate").flatpickr({
            dateFormat: 'Y-m-d',
        });

        //Chosen Selectbox
        $('.inputSelect').chosen();
  })     
</script>

</body>