<header>
  <% if (!user) { %>
  <nav class="navbar navbar-custom">
    <h3>
      <a class="navbar-brand text-light" href="/">
        Ticket Management</a
      >
  </nav>
  
  <% } else{%>

  <nav class="navbar navbar-expand-md navbar-custom">
    <% if (user&&user.role === 'admin') { %>
    <h3>
      <a class="navbar-brand text-light" href="/dashboard">
        Ticket Management</a
      >
      <% } else{%>
      <h3>
      <a class="navbar-brand text-light" href="/complaints">
        Ticket Management</a
      >
      <%}%>
    </h3>
    <button
      class="navbar-toggler text-dark"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-warning"
        ><i class="fas fa-bars"></i
      ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <% if(user && user.role === 'admin') {%>
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard"
            >Dashboard <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/manageUsers">Manage Users</a>
        </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link" href="/complaints">Complaints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

      <span class="mr-5"
        >Welcome, <span class="text-light"><%= user.name %></span></span
      >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-warning text-dark" href="/users/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <% } %>
</header>
<body>
  <div class="preloader" id="preloader"></div>
  <script>
    let loader = document.getElementById("preloader");
    window.addEventListener("load", function () {
      loader.style.display = "none";
    });
  </script>
</body>
