<%-include('./partials/header.ejs')%>
<div class="container-fluid text-center text-danger mt-5">
  <h1 class="text-center">Not Allowed!</h1>
  <hr />
  <p>
    You are not authorized to view this resource. A log has been inserted and
    will be notified to the System Administrator!
  </p>
  <a href="/complaints" class="btn btn-primary">Back to Home</a>
</div>
<!-- <script>
  setInterval(() => {
    window.location.href = `http://${window.location.hostname}:${window.location.port}/users/logout`;
  }, 3000);
</script> -->
