
<%-include('./partials/header.ejs')%>
    <div class="container-fluid text-center text-danger">
    <h1 class="text-center">
      Not Allowed!
    </h1>
    <hr />
    <p>You are not authorized to view this resourse. A log has been inserted and will be notified to the System Administrator!</p>
    <a href="/dashboard" class="btn btn-primary">Back to Home</a>
  </div>