<%-include('./partials/header.ejs')%>
<% if(user.name!==undefined){%> 
    <%-include('./partials/nav.ejs')%> 
<%}%>
<main class='container-fluid'>
    <%if(user.role !== 'head'){%> 
        <table id="table1" class="table table-striped m-0 table-responsive">
        <caption>Displaying Pending Entries</caption>  
        <%-include('./partials/table.ejs')%>
        </table>
    <% }else{ %> 
        <div class="mt-3 text-center">
            <a href="/addEntry" class="btn btn-info">Add an Entry</a>
        </div>
        <div class="mt-3 text-center">
            <a href ="/myEntries" class="btn btn-info">View Your Entries</a>
        </div>
        <div class="mt-3 text-center">
            <a href ="/complaints" class="btn btn-warning rounded-pill px-3">Log a Complaint</a>
        </div>
    <% } %> 
</main>

</div>


<%-include('./partials/footer.ejs')%>