<%-include('./partials/header.ejs')%>
<style>
  .loginMain {
    background-image: url("/images/background.jpg");
    height: calc(100vh - 85px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  button.btn.btn-success:hover {
    border-radius: 1.2em !important;
  }
</style>
<main class="loginMain">
  <h2 class="text-success text-center pt-1 p-2">
    <img src="/images/favcon.png" alt="" style="width: 4rem" />&nbsp; TICKET
    MANAGEMENT
  </h2>
  <div class="card m-auto shadow-lg" style="max-width: 480px">
    <div class="card-header bg-secondary">
      <h3 class="text-light">Login</h3>
    </div>
    <div class="card-body my-3">
      <form action="/users/login" method="POST">
        <%- include ('./partials/messages') %>

        <div class="form-group row justify-content-end align-start">
          <label for="email" class="col-sm-3 text-secondary" title="Enter Email"
            ><i class="fa fa-envelope px-2 py-1"></i>Email</label
          >
          <div class="col-sm-9 justify-content-end align-start">
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              placeholder="Enter Your Email"
            />
          </div>
        </div>

        <div class="form-group row">
          <label
            for="password"
            class="col-sm-3 text-secondary float-right"
            title="Enter Password"
            ><i class="fa fa-key px-2 py-1"></i>Pass
          </label>
          <div class="col-sm-9">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Enter Your Password"
            />
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success mt-3 btn-lg w-75">Login</button>
        </div>
        <br />
        <div>
          <small
            ><span style="font-weight: 500">Demo User:</span>
            demo@user.com</small
          ><br />
          <small
            ><span style="font-weight: 500">Demo Password:</span>
            user1234</small
          >
        </div>
      </form>
    </div>
  </div>
</main>
<div style="margin-top: -16px"><%-include('./partials/footer.ejs')%></div>
